@charset "utf-8";

body.config {
	padding: 20px 0px;
}

.config .header {
	width: 1000px;
	clear: both;
	margin: 0px auto;
}

.config .header .title {
	width: 978px;
	height: 43px;
	line-height: 43px;
	clear: both;
	padding: 0px 10px;
	color: #4e4e4e;
	border-left: 1px solid #a4bed5;
	border-right: 1px solid #a4bed5;
	background: url(./configImgs/install_x_bg.gif) 0px 0px repeat-x;
	color:#074b88;
	font-size:18px;
	font-family:"微软雅黑";
	font-weight:700;
}

.config .header .banner {
	width: 998px;
	height: 100px;
	clear: both;
	padding-bottom: 3px;
	border-left: 1px solid #a4bed5;
	border-right: 1px solid #a4bed5;
	background: url(./configImgs/install_bg_color.png);
}

.config .body {
	width: 998px;
	clear: both;
	margin: 0px auto 10px auto;
	border-left: 1px solid #a4bed5;
	border-right: 1px solid #a4bed5;
	border-bottom: 1px solid #a4bed5;
}

.config .bodyLeft {
	width: 220px;
	float: left;
}

.config .bodyLeft ul {
	width: 220px;
	height: 300px;
	background: url(./configImgs/install_menu_bg.png);
}

.config .bodyLeft ul li {
	height: 60px;
	line-height: 60px;
	padding-left: 30px;
	clear: both;
}

.config .bodyLeft ul li .icon {
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(./configImgs/nocurrent.png);
	background-size: 24px auto;
}

.currentStyle {
	color:#074b88;
	font-weight:bold;
}

.nocurrentStyle {
    color:#696969;
}

.config .bodyLeft ul li .current {
	background: url(./configImgs/current.png);
	background-size: 24px auto;
}

.config .bodyRight {
	width: 778px;
	float: right;
}

.config .bodyRight iframe {
	width: 778px;
	height: 400px;
}

.config .bodyRight table {
	width: 772px;
	margin: 0px 3px;
	border: 1px solid #c8d8e6;
}

.config .bodyRight table th {
	padding: 0px 10px;
	line-height: 40px;
	font-size: 14px;
	text-align: left;
	color: #074b88;
	background-color: #eef4f7;
}

.config .bodyRight table td {
	line-height: 35px;
	padding: 0px 10px;
	color: #303030;
	border: 1px solid #e8e8e8;
}

.config .buttonArea {
	width: 988px;
	height: 60px;
	line-height: 60px;
	clear: both;
	padding-right: 10px;
	text-align: right;
	background: url(./configImgs/install_x_bg.gif) 0px -60px repeat-x;
}

.config .body .formButton {
	width: 125px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	border: none;
	background: url(./configImgs/noselect.png);
}

.config .body .formButton:hover {
	background: url(./configImgs/select.png);
}

.config .footer {
	width: 1000px;
	clear: both;
	margin: 0px auto;
}

.config .footer .copyright {
	line-height: 40px;
	text-align: right;
	color: #888888;
}